/* Elements */

header {
  height: 50px;
  background-image: url("images/strip.svg");
  background-color: #eee;
  display: block;
  animation: backgroundShift 20s linear infinite;
  -webkit-animation: backgroundShift 20s linear infinite; /* Safari 4+ */
  -moz-animation: backgroundShift 20s linear infinite; /* Fx 5+ */
  -o-animation: backgroundShift 20s linear infinite; /* Opera 12+ */
}

body {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3em;
  transform: skew(0deg, 0deg);
  border-bottom: 0.1em solid black;
  transition: all 0.3s ease;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  width: 100%;
}

.link {
  color: #000;
  text-decoration: underline;
}

/* IDs */

#special {
  margin: auto;
  width: 50%;
}

/* Classes */

.btn {
  background-color: black;
  color:#eee;
  padding: 1em;
  font-size: 1em;
  margin-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0em;
  text-align: center;
  border: black solid 2px;
  transition: all 0.3s ease;
  user-select: none;
  -moz-user-select: none;
}

/* Hovers */

.imageBox:hover {
  transition: all 0.3s ease;
}

.btn:hover {
  letter-spacing: 0.5em;
  cursor: pointer;
  pointer-events: auto;
  color: #000;
  fill: transparent;
  background-color: #eee;
  transition: all 0.3s ease;
}

.btn:active {
  color: black;
  background-color: #e53b3b;
  transition: all 0.1s ease;
}

h1:hover {
  transform: skew(-5deg, 0deg);
  transition: all 0.1s ease;
}

/* Pseudo */

h2::selection,
h1::selection,
p::selection {
  color: #eee;
  background: #e53b3b;
}

a::selection {
  color: #eee;
  background: black;
}

a:visited {
  color: #e53b3b;
}

/* Media Queries */

/* Desktop */

@media screen and (min-width: 1024px) {
  .flexContainer {
    display: flex;
  }

  .textInner {
    width: 40em;
  }
  /*
  .textBox:hover {
    padding-right: 4em;
    transition: all 0.3s ease;
  }
*/
  .imageBox {
    background-color: #eee;
    background-position: center;
    background-repeat: repeat;
    background-size: 5px;
    width: 50%;
    height: 100vh;
    padding: 1em;
    transition: all 0.3s ease;
  }

  .textBox {
    padding: 2em;
    margin: 0px;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
}

/* Mobile + Tablet */

@media screen and (max-width: 1024px) {

  header {
    margin-bottom: 20px;
  }

  .flexContainer {
    display: block;
  }

  .imageBox {
    display: block;
  }

  .textBox {
    padding: 1em;
    margin: 0px;
    transition: all 0.3s ease;
  }
}

.tomparke {
  width: 90vw;
  margin: auto auto;
}

.portfolioItem,
.portfolioDesc {
  width: 50vw;
}

.portfolioItem:hover {
  background-color: #e53b3b;
  transition: all 0.2s ease;
}

/* Spinning Shit */

.st1 {
  fill: #000;
  transform-origin: 50% 50%;
}
.st2 {
  fill: #000;
  transform-origin: 50% 50%;
}
.st3 {
  fill: #000;
  transform-origin: 50% 50%;
  transform: rotate(0deg) scale(1, 1);
  transition: all 0.8s ease-in-out;
}

.st3:hover {
  fill: #000;
  transform-origin: 50% 50%;
  transform: rotate(360deg) scale(1.1, 1.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.st4 {
  fill: #000;
  transform-origin: 50% 50%;
}

@-webkit-keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes backgroundShift {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: -100% 100%;
  }
}
@-moz-keyframes backgroundShift {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: -100% 100%;
  }
}
@-o-keyframes backgroundShift {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: -100% 100%;
  }
}
@keyframes backgroundShift {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: -100% 100%;
  }
}

.st1 {
  -webkit-animation: spinAnimation 11s linear infinite; /* Safari 4+ */
  -moz-animation: spinAnimation 11s linear infinite; /* Fx 5+ */
  -o-animation: spinAnimation 11s linear infinite; /* Opera 12+ */
  animation: spinAnimation 11s ease-in-out infinite; /* IE 10+, Fx 29+ */
}

.st2 {
  -webkit-animation: spinAnimation 29s linear infinite; /* Safari 4+ */
  -moz-animation: spinAnimation 29s linear infinite; /* Fx 5+ */
  -o-animation: spinAnimation 29s linear infinite; /* Opera 12+ */
  animation: spinAnimation 29s linear infinite; /* IE 10+, Fx 29+ */
}
