@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;700&family=Roboto:wght@300;500&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

.show-hello {
  display: none;
}

#main {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 100%;
  letter-spacing: 0.025em;
  display: flex;
  flex-direction: column-reverse;
}

#links {
  background-color: #0050c8;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

#links a {
  font-family: "Crimson Pro", serif;
  font-weight: 300;
  color: white;
  font-weight: 500;
  font-size: 1.5em;
  /* text-decoration: none; */
  text-align: center;
  line-height: 2em;
}

#contact-links {
  margin-top: 1em;
}

#contact-links a {
  font-family: "Crimson Pro", serif;
  font-weight: 300;
  color: #0050c8;
  font-weight: 500;
  font-size: 1.5em;
}

#text {
  padding: 1em;
  line-height: 1.2em;
}

h1 {
  font-family: "Crimson Pro", serif;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1em;
  margin-bottom: 0.5em;
}
h2 {
  font-family: "Crimson Pro", serif;
  font-weight: 300;
}
h4 {
  margin-top: 0.75em;
  margin-bottom: 0.25em;
  line-height: 1.3em;
  font-weight: 500;
  font-size: 1.5em;
}

p {
  margin: 0.2em 0;
}

span {
  color: #0050c8;
  font-weight: 500;
}

footer {
  margin-top: 1em;
}

@media only screen and (min-width: 800px) {
  .show-hello {
    display: inline;
  }
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 247, 250);
  }
  #main {
    width: 800px;
    flex-direction: row;
    border-radius: 0.25em;
    box-shadow: 0.5em 0.5em 1.5em rgba(0, 0, 50, 0.2);
  }
  #links a {
    text-align: left;
    line-height: 1.2em;
    transition: transform 0.2s ease;
  }
  #links a:hover {
    transform: translateX(0.1em);
  }
  #contact-links a {
    display: inline-block;
    transition: transform 0.2s ease;
  }
  #contact-links a:hover {
    transform: translateX(0.2em);
  }
  #links {
    padding: 2.5em;
    border-radius: 0.25em 0 0 0.25em;
  }
  #text {
    padding: 2.5em;
    border-radius: 0 0.25em 0.25em 0;
    background-color: white;
  }
}

@media only screen and (min-width: 1200px) {
  #main {
    width: 900px;
  }
}
